/splash.txt
/image_root/binary
/image_root/cache
/image_root/chroot
/image_root/.build
/.bash_history
/.bashrc
/.profile
/.local
/.ssh
/config
/image_root/chroot.files
/image_root/chroot.packages.install
/image_root/chroot.packages.live
/image_root/live-image-amd64.contents
/image_root/live-image-amd64.files
/image_root/live-image-amd64.hybrid.iso
/image_root/live-image-amd64.packages

